*.img
*.iso
*.qcow2
*.vDI
mnt_img/
mnt_image/
mnt/
*.tar.xz

# Ignore compiled object files (The intermediate batter)
*.o
*.ko

# Ignore the build directory (if you have one)
/build
/mnt

# Ignore temporary editor files
*.swp
*~
